html
  head
    link(href='/css/main.css', rel="stylesheet")
    title koa2
  body
    h1 oauth2 client by koa2
    .container
      p
        a(href="/auth/btcc") login with btcc
      p
        a(href="/secret") secret page need login
