html
  head
    link(href='/css/main.css', rel="stylesheet")
    title secret page
  body
    h1 Hello #{user.name}
    .container
      h2 user profile
      p id: #{user.id}
      p email: #{user.email}
      p jwt: #{user.jwt}
      p
        a(href="/") back
      p
        a(href="/logout") logout
